---
layout: default
permalink: /categories/
---
<div class="categories">

  <h1><a href="{{ site.baseurl }}/categories/">Categories</a></h1>

  {% for category in site.categories %}
  <section id="{{ category[0] }}" class="category-posts-wrapper">
    <h2 class="category-title">{{ category[0] }}</h2>

    <div class="category-posts">

      {% for post in category[1] %}
      {% assign author = site.data.authors[post.author] %}
      <article class="category-post">

        <p>
          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </p>

      </article>
      {% endfor %}

    </div>
  </section>
  {% endfor %}

</div>
